{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h1>Change Password</h1>
{% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
<form method="POST" action="/change-password">
    <label for="current_password">Current Password:</label>
    <input 
        type="password" 
        id="current_password" 
        name="current_password"
    >
    <br><br>
    <label for="new_password">New Password:</label>
    <input 
        type="password" 
        id="new_password" 
        name="new_password"
    >
    <br><br>
    <button type="submit">Change Password</button>
</form>
{% endblock %}